<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-title class="brand-title">{{ site.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button id="btn-chat">
       <ion-icon slot="icon-only" name="chatbox"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<script>
document.getElementById('btn-chat').addEventListener('click', function() {
    if (confirm('Yakin ingin chat dengan AI?')) {
        window.location.href = 'https://mia-miaaw.github.io';
    }
  });
</script>