<ion-modal trigger="open-modal" id="post-{{ id }}">
  <ion-header class="ion-no-border">
    <ion-toolbar color="white">
      <ion-buttons slot="start">
        <ion-button onclick="closeModal('post-{{ id }}')">
          <ion-icon name="close-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Artikel</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content color="white">
    <div class="modal-content-inner">
      <div class="blog-category">{{ post.category }}</div>
      <h1 class="modal-title">{{ post.title }}</h1>
      <div class="blog-meta" style="margin-bottom: 24px;">
        Diposting pada {{ post.date | date: "%d %b %Y" }}
      </div>
      
      <img style="width: 100%; border-radius: 12px; margin-bottom: 24px;" src="{{ post.image }}" alt="{{ post.title }}">
      
      <div class="article-body">
        {{ post.content }}
      </div>
    </div>
  </ion-content>
</ion-modal>
