<ion-modal id="post-{{ id }}" trigger="trigger-post-{{ id }}">
  <ion-header class="ion-no-border">
    <ion-toolbar color="white">
      <ion-buttons slot="start">
        <ion-button id="close-btn-{{ id }}">
          <ion-icon name="close-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Artikel</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content color="white">
    <div class="modal-content-inner">
      <div class="article-body">
        {{ post.content }}
      </div>
    </div>
  </ion-content>
</ion-modal>

<script>
  document.getElementById('close-btn-{{ id }}').addEventListener('click', () => {
    const modal = document.getElementById('post-{{ id }}');
    modal.dismiss(null, 'cancel');
  });
</script>
