<!DOCTYPE html>
<html lang="id">
{% include head.html %}
<body>

  <ion-app>
    {% include header.html %}

    <ion-content color="light">
      {{ content }}
    </ion-content>
  </ion-app>

  <script type="module" src="{{ '/assets/framework/ionicons@7/dist/ionicons/ionicons.esm.js' | relative_url }}"></script>
  <script nomodule src="{{ '/assets/framework/ionicons@7/dist/ionicons/ionicons.js' | relative_url }}"></script>
  
  <script src="{{ '/assets/js/app.js' | relative_url }}" defer></script>
</body>
</html>
